
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .background-img {
      height: auto;
    }

    .second-row {
      flex-direction: column;
      flex-wrap: wrap;
    }

    aside.row{
      width: 100%;
      flex-direction: row;

    }
    aside.row > * {
      width: 8%;
      font-size: 10px;
      height: 25px;
    }

    aside.row h4 {
      margin: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    main.col-10 {
      width: 100%;
      height:545px;
    }

    main.col-10 > *{
      width: 30%;
      height: 12%;
    }
    .row, .row > div{
      margin: 0;
    }
}
/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .container {
      height: auto;
    }

    header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    .second-row {
      flex-direction: column;
      flex-wrap: wrap;
    }

    aside.row{
      width: 100%;
      flex-direction: row;
    }

    aside.row > * {
      width: 8%;
      font-size: 10px;
      border: black 0.1px solid;
    }

    aside.row h4 {
      margin: 0;
      height: 100%;
    }

    main.col-10 {
      width: 100%;
      height:245px;
    }

    main.col-10 > *{
      width: 11%;
      height: 48%;
    }

    .row, .row > div {
      margin: 0;
    }

}
